$primary-color: #42a5f5;
$primary-color-light: #80d6ff;
$primary-color-dark: #0077c2;
$primary-text-color: #000000;
$secondary-color: #212121;
$secondary-color-light: #484848;
$secondary-color-ldark: #000000;
$secondary-text-color: #ffffff;