div.product-menu-scroll {
  background-color: #333;
  overflow: auto;
}

h1,
h2 {
  color: white;
}

.product-menu-category-disabled {
  background-color: black;
  border-style: solid;
  border-color: white;
  border-width: 3px;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}

.product-menu-category {
  text-align: center;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  background-color: #6ba6ff;
}

a {
  text-decoration: none;
}

.product-category a {
  color: white;
}

#product-menu-header a {
  color: black;
}

/* Page content */
.content {
  padding: 16px;
  padding-top: 60px;
}

.product-category {
  scr`ll-margin-top: 100px;
}

.machine-product-category {
  width: auto;
}

.no-hover:hover {
  cursor: default;
}
