<nav id="navigation-header" class="navbar navbar-expand-lg">
   <div class="container-fluid">
      {# Brand Logo #}
      <a class="navbar-brand" href="{{url_for('static.index')}}">
      <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Navigation Bar Logo">
      </a>
      {# Mobile Menu Button #}
      <button class="navbar-dark navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
               <a class="nav-link" href="{{url_for('static.about')}}">About</a>
            </li>
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Product
               </a>
               <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in categories %}
                    <li><a class="dropdown-item" href="{{url_for('product.category', category_id=category.id)}}">{{category.name}}</a></li>
                  {% endfor %}
                  <li>
                     <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="{{url_for('product.product')}}">All Products</a></li>
               </ul>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="{{url_for('shop.locator')}}">Shop</a>
            </li>
            </li>
         </ul>
      </div>
   </div>
</nav>