{# Modal #}
<div class="modal fade" id="modal-{{item.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal-{{item.id}}-label" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <img src="{{item.images.hero}}" class="card-img-top" alt="...">
         <div class="modal-header">
            <h5 class="modal-title" id="modal-{{item.id}}-label">{{item.name}}</h5>
         </div>
         <div class="modal-body">
            {{item.description}}
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary float-left" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary float-right">Find a Location with this product</button>
         </div>
      </div>
   </div>
</div>