{% extends "partial/base.html" %}
{% block title %}About{% endblock %}

{% block html_head %}
<script src="{{ url_for('static', filename='script/about.js') }}"></script>
{% assets "about_css" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
{# Company About Section#}
<div class="row">
   <h1 class="display-3 my-5">About Diamond Case Beauty Supply</h1>
   <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
      <img src="{{url_for('static', filename='images/about-1.png')}}" class="img-fluid">
      <img src="{{url_for('static', filename='images/about-2.jpg')}}" class="img-fluid">
   </div>

   <div class="col-xs-12  col-sm-12 col-md-6 col-lg-6">
      <h2>Who are we?</h2>
      <p class="lead">
         The Diamond Case Hair Beauty Supply Store is built on the core belief that beauty should not be a hassle, but should be convenient. In our innovative distribution method via vending machine(s), we deliver the following:</p> 
         <ul class="lead">
            <li>Bundles/Closures</li>
            <li>Braiding Hair</li>
            <li>Hair Wraps</li>
            <li>Eye Lashes</li>
            <li>Cosmetics</li>
            <li>Jewelry</li>
            <li>Wave Caps</li>
            <li>Wave Caps</li>
            <li>Men's Beard Care</li>
            <li>Hair Care Products</li>
            <li>Hair Accessories</li>
         </ul>
      <hr/>
      <h2>Why we do what we do?</h2>
      <p class="lead">
         Because of the on-going poor customer service and intense scrutiny received at some of the beauty supply stores when shopping face to face, our advanced and innovative method of distribution is necessary, as we provide the convenience that other beauty supply establishments don't. While other stores close at a certain time in the evening and online order may take an extended amount of time to receive, we at Diamond Case Hair Beauty Supply Store offer our services 24/7. 
      </p>
      <p class="lead">
         Anyone is welcome to come to any of our vending locations, day or night, and purchase products for use. Because it’s a vending interaction, it will save you time, and eliminate any negative customer service experience.
      </p>
   </div>
</div>
<br/>
{% endblock %}




