{% extends "partial/base.html" %}
{% from 'macros.html'  import render_field %}
{% block title %} 
Contact Us 
{% endblock %}

{% block html_head %}
<script src="{{ url_for('static', filename='script/contact.js') }}"></script>
{% assets "contact_css" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<section class="mb-4">
   {# Header Content #}   
   <h2 class="h1-responsive font-weight-bold text-center my-4 display-1">Contact us</h2>
   <p class="text-left w-responsive mx-auto mb-3 mt-3 lead">Diamond Case Hair Beauty Supply was found on the the philosophy that beauty not only can be but should be convient. In following with our core philosopy, we seek provide excellent and convieent customer service. Do you have any questions, comments, or concerns? Please do not hesitate to contact us directly. You can fill out the form below, call or email us directly and we will be sure to get to you promptly; Our team will contact you back to you within a matter of hours to address your message.</p>
   <p class="signature"> Thank You</p>
   <p class="signature"> Diamond Case Hair Beauty Supply Store Customer Service Team</p>
   <div class="contact-section-form row">
      {# Location Contact Form #}   
      <div class="col-md-3 text-center p-4 side">
         <ul class="list-unstyled mb-0">
            <li>
               <i class="fas fa-map-marker-alt fa-2x"></i>
               <p>908 Audelia Road Ste. 200-290</p>
               <p>Richardson, TX 75081, USA</p>
            </li>
            <li>
               <i class="fas fa-phone mt-4 fa-2x"></i>
               <p>214 945 4453</p>
            </li>
            <li>
               <i class="fas fa-envelope mt-4 fa-2x"></i>
               <p>Contact@DiamondCaseHair.com</p>
            </li>
         </ul>
      </div>
      {# Email Contact Form #}   
      <div class="col-md-9 mb-md-0 mb-5 side p-4">
         <form id="contact-form" class="p-4" name="contact-form" action="" method="POST">
            <div class="row">
               {{ render_field(form.name, true, class_="form-control") }}
               {{ render_field(form.email, true, class_="form-control") }}
            </div>
            <br/>
            <div class="row">
               {{ render_field(form.subject, false, class_="form-control") }}
            </div>
            <br/>
            <div class="row">
               {{ render_field(form.message, false, class_="form-control") }}
            </div>
            <br/>
         </form>
         <div class="text-center text-md-left">
            <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
         </div>
         <div class="status"></div>
      </div>
   </div>
</section>
{% endblock %}