{% extends "partial/base.html" %}
{% block title %} 
Homepage 
{% endblock %}

{% block html_head %}
<script src="{{ url_for('static', filename='script/homepage.js') }}"></script>
{% assets "homepage_css" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
{# Above The Fold Content #}
<div id="homepage-atf-wrapper" class="row">
   {# Video Overlay #}
   <div id="homepage-video-text" class="col">
      <h1 class="display-1">Welcome To Diamond Case Hair Beauty Supply Store</h1>
      <h2 class="display-4">Where Beauty Meets Convenience.</h2>
      <div>
         <a href="{{url_for('shop.locator')}}" style="color: black; text-decoration: none;"> <button class="cta btn" >Shop Now</a></button>
      </div>
   </div>
   {# Background Video #}
   <div id="homepage-video-wrapper" class="embed-responsive embed-responsive-4by3">
      <video id="homepage-video-video"  class="embed-responsive-item sqs-html5-video" poster="{{url_for('static', filename='images/poster.png')}}" preload="auto" autoplay loop muted style="top:0;">
         <source  src="{{url_for('static', filename='images/homepage.3gp')}}">
      </video>
   </div>
</div>
{# Featured Section #}
<div id="homepage-featured" class="row">
   {% for feature in features %}
   <div class="col-xs-12 col-md-6 col-lg-3">
      <a href="{{url_for('product_highlight')}}">
         <img src="{{feature.image}}" class="img-fluid">
         <h3 class="display-5">{{feature.subheading}}</h3>
         <p class="lead">"{{feature.description}}"</p>
      </a>
   </div>
   {% endfor%}
</div>
<script type="text/javascript">
   setVideoHeight();
</script>
{% endblock %}