{% extends "partial/base.html" %}

{% block title %} 
Product example for Bootstrap
{% endblock %}

{% block html_head %}
<script src="{{ url_for('static', filename='script/term.js') }}"></script>
{% assets "term_css" %}
<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
{% endassets %}
{% endblock %}

{% block content %}
<main role="main" class="container">
   <div class="py-5">
      <h1>Terms and Conditions</h1>
      <h2>Refund Policy</h2>
      <p class="lead">As with most beauty supply stores, <b>all sales are final.</b></p>
   </div>
</main>
<!-- /.container -->
{% endblock %}